<!DOCTYPE html>
<html>
    <head>
        <title>Colbyn's Math Notes</title>
        <link rel="stylesheet" href="../styles/index.scss">
    </head>
    <body>
        <header id="site-header">
            <div page-nav>
                <h1 toc-ignore>Site Navigation</h1>
                <page-nav>
                    <page route="/index.html" title="Homepage"></page>
                    <page title="Class Notes">
                        <page route="/class/chem.html" title="Chemistry"></page>
                        <page route="/class/calc.html" title="Calculus"></page>
                    </page>
                </page-nav>
            </div>
            <div toc>
                <h1 toc-ignore>Table of Contents</h1>
                <toc></toc>
            </div>
        </header>
        <main>
            <h1 root toc-ignore>Colbyn's School Notes</h1>
            <note boxed>
                <h2 toc-ignore>Meta</h2>
                <ul>
                    <li><a href="https://colbyn.github.io/school-notes-spring-2020/">Online Release</a></li>
                    <li><a href="http://github.com/colbyn/school-notes-spring-2020">Source Code</a></li>
                </ul>
                <note>
                    <h3 toc-ignore>Legacy Notes</h3>
                    <ul>
                        <li><a href="https://colbyn.github.io/subscript/">Original Subscript Implementation (Last Iteration)</a></li>
                        <li><a href="https://colbyn.github.io/school-notes/">Original School Notes Implementation</a></li>
                        <li><a href="https://colbyn.github.io/colbyns-math-notes/">Original Math Notes Implementation</a></li>
                        <li><a href="https://colbyn.github.io/colbyns-calculus-notes/">Original Calculus Notes</a></li>
                    </ul>
                </note>
            </note>
            <content></content>
        </main>
    </body>
</html>