<!DOCTYPE html>
<html>
    <head>
        <title>Note</title>
        <link rel="stylesheet" href="../styles/index.scss">
    </head>
    <body>
        <header id="site-header">
            <div page-nav>
                <h1 toc-ignore>Site Navigation</h1>
                <page-nav>
                    <page route="/index.html" title="Homepage"></page>
                    <page route="/sample.html" title="Sample">
                        <page route="/sample/chapter1.html" title="Chapter 1"></page>
                        <page route="/sample/chapter2.html" title="Chapter 2"></page>
                        <page route="/sample/chapter3.html" title="Chapter 3"></page>
                    </page>
                    <page route="/other.html" title="Other">
                        <page route="/other/red.html" title="Red"></page>
                        <page route="/other/blue.html" title="Blue"></page>
                        <page route="/other/green.html" title="Green"></page>
                    </page>
                </page-nav>
            </div>
            <div toc>
                <h1 toc-ignore>Table of Contents</h1>
                <toc></toc>
            </div>
        </header>
        <main>
            <content></content>
        </main>
    </body>
</html>