<!DOCTYPE html>
<html>
    <head>
        <title>Note</title>
        <link rel="stylesheet" href="../styles/index.scss">
    </head>
    <body>
        <header id="site-header">
            <div page-nav>
                <h1 toc-ignore>Site Navigation</h1>
                <page-nav>
                    <page route="/index.html" title="Homepage"></page>
                    <page route="/reference.html" title="Reference">
                        <page route="/reference/trig.html" title="Trigonometry"></page>
                    </page>
                </page-nav>
            </div>
            <div toc>
                <h1 toc-ignore>Table of Contents</h1>
                <toc></toc>
            </div>
        </header>
        <main>
            <content></content>
        </main>
    </body>
</html>