body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100vw;
}

table {
    width: fit-content;
    border-collapse: collapse;
    border: none;
    align-self: center;
}
th, td {
    border: 1px solid black;
    padding: 4px;
}

img {
    width: 100%;
}

a {
    font-family: 'Roboto';
    text-rendering: optimizeLegibility;
    color: #02c195;
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    max-width: 90%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    width: 100%;
}

dl[center] {
    margin: 0 auto !important;
}