/* ========================================================================= */
/* LAYOUT */
/* ========================================================================= */
[macro='layout'] {
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
}
[macro='layout'][columns='2'] {
    grid-template-columns: repeat(2, 1fr);
}
[macro='layout'][columns='3'] {
    grid-template-columns: repeat(3, 1fr);
}
[macro='layout'][columns='4'] {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 900px) {
    [macro='layout'][columns='2'] ,
    [macro='layout'][columns='3'] ,
    [macro='layout'][columns='4'] {
        grid-template-columns: 1fr;
    }
}

[macro='layout'] img {
    align-self: flex-start;
}

/* ========================================================================= */
/* NOTE */
/* ========================================================================= */


[macro='note'][boxed] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: normal;
    grid-row-gap: 12px;
    padding-bottom: 12px;
}

[macro='note'] [macro='note'] {
    margin: 12px;
}


[macro='note'] > h1,
[macro='note'] > h2,
[macro='note'] > h3,
[macro='note'] > h4,
[macro='note'] > h5,
[macro='note'] > h6 {
    border-bottom: none;
    text-align: center;
}

/* ========================================================================= */
/* LATEX */
/* ========================================================================= */

[latex] {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

[latex='inline'] {
    max-width: fit-content;
    text-align: center;
    display: inline-flex;
    justify-self: center;
}

[latex='block'] {
    font-size: 0.8em;
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
}
[latex='block'] > mjx-container {
    margin: 0 !important;
}