/* ========================================================================= */
/* LAYOUT */
/* ========================================================================= */
[macro='layout'] {
    display: grid;
    column-gap: 4px;
    row-gap: 4px;
    margin-bottom: 1px;
}
[macro='layout'][columns='2'] {
    grid-template-columns: repeat(2, 1fr);
}
[macro='layout'][columns='3'] {
    grid-template-columns: repeat(3, 1fr);
}
[macro='layout'][columns='4'] {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 900px) {
    [macro='layout'][columns='2'] ,
    [macro='layout'][columns='3'] ,
    [macro='layout'][columns='4'] {
        grid-template-columns: 1fr;
    }
}

[macro='layout'] > img {
    align-self: flex-start;
}
[macro='layout'] > img[center] {
    align-self: center;
    margin: 0 auto;
}

[macro='layout'][boxed] > [boxed-child] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    display: grid;
    align-items: center;
    grid-row-gap: 4px;
    padding: 8px;
}


/* ========================================================================= */
/* NOTE */
/* ========================================================================= */

[macro='note'] {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 4px;
    overflow: auto;
    margin-bottom: 1px;
}
[macro='note'][boxed] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: normal;
    grid-row-gap: 4px;
    padding: 12px;
}

[macro='note'] > h1:first-child,
[macro='note'] > h2:first-child,
[macro='note'] > h3:first-child,
[macro='note'] > h4:first-child,
[macro='note'] > h5:first-child,
[macro='note'] > h6:first-child {
    border-bottom: none;
    text-align: center;
    color: #2f2f2f;
}

[macro='note']:not([boxed]) > h1,
[macro='note']:not([boxed]) > h2,
[macro='note']:not([boxed]) > h3,
[macro='note']:not([boxed]) > h4,
[macro='note']:not([boxed]) > h5,
[macro='note']:not([boxed]) > h6 {
    border: 1px solid #e2e2e2;
    margin-bottom: 4px;
    border-radius: 3px;
}



[macro='note'] h2,
[macro='note'] h3,
[macro='note'] h4,
[macro='note'] h5,
[macro='note'] h6 {
    margin: 0 auto;
}

[macro='note'] p {
    font-weight: 300;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 90%;
}

[macro='note'] p[center] {
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 900px) {
    [macro='note'] p {
        width: 95%;
    }
}



/* ========================================================================= */
/* LATEX */
/* ========================================================================= */

[latex] {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

[latex='inline'] {
    max-width: fit-content;
    text-align: center;
    display: inline-flex;
    justify-self: center;
}

[latex='block'] {
    font-size: 0.8em;
    max-width: 100%;
    max-height: fit-content;
    align-self: center;
    justify-self: center;
    overflow: auto;
}
[latex='block'] > mjx-container {
    margin: 0 !important;
}