main {
    display: grid;
    grid-row-gap: 12px;
}

main > * {
    justify-self: center;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
}

main > h1 {
    width: 100%;
    box-shadow: 0px 3px 4px 0px #17171740;
    border: none;
    padding: 8px 20px;
}

@media (min-width: 900px) {
    main > * {
        width: 99%;
    }
}